<h1>Add A car</h1>
<form action="/vehicles">
<label for="reg_number">Registration</label>
<input type="text" name="reg_number" value="{{regNumber}}">
<label for="description">Descrption</label>
<input type="text" name="description" value="{{description}}">
<input type="submit" value="Add Car">
</form>
