  <nav>
        <a href="/vehicles/add">Add</a>
        <a href="/">Home</a>
    </nav>

<h1>Refuel Car</h1>
<form action="/vehicles/refuel" method="POST">
    <label for="vehicleId">Vehicle ID:</label>
    <input type="number" id="vehicleId" name="vehicleId">
    <label for="liters">Liters:</label>
    <input type="number" id="liters" name="liters">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount">
    <label for="distance">Distance:</label>
    <input type="number" id="distance" name="distance">
    <label for="filled_up">Filled Up:</label>
    <input type="checkbox" id="filled_up" name="filled_up">
    <input type="submit" value="Refuel Vehicle">
</form>



